@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght:700&display=swap');

header {background-color: rgb(114, 202, 51);}

main {
    padding: 16px;
    font-style: Nanum Gothic Coding;
    background-color: rgb(144, 248, 132);
}

.first:hover {
    font-size: 20px;
}

#links {
    border-bottom: 1px;
    padding: 16px;
    width: 5em;
    height: 2ex;
    background-color: rgb(149, 195, 69);
    border: 2px solid rgb(15, 75, 15);
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

#links:hover {
    background-color: rgb(207, 251, 207);
}

.new-font {
    font-style: italic;
}

img{height: 200px;}

#taco-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


h1 {color:rgb(8, 81, 8)}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background-color{
    background-color: rgb(19, 137, 74);
}

footer {
    padding: 24px;
    /* padding top, right, bottom, left (short hand) */
    background-color: rgb(114, 202, 51);
    margin-top: auto;
    padding: 20px;
}

hr {
    height: 1px;
    background-color: black;
    margin: 0;
    border: 0px;
}

a:hover {
    font-weight: 900px;
}
